.bg-head-logo { width: 200px; }
.bg-captcha-img {
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    cursor: pointer;
}

.input-group-append > .bg-captcha-img {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
