.img_border { border: #ddd 1px solid; }
.text_break { word-break: break-all; }

.nav_sso li a { color: #3c763d; }
.nav_sso li.active a { background: #3c763d!important; }
.nav_sso li.active a:hover { background: #3c763d!important; }
