.bg-card-md { max-width: 450px; margin: 0 auto; }

@media (min-width:768px) {
    .bg-card-md { margin: 40px auto; }
}

.bg-card-header { background: url(../image/heading_bg.png); background-size: cover; }
.bg-card-header img { margin: 20px auto; }

.bg-nav-line {
    padding-left: 0;
    margin: 3px 0 0 -3px;
    list-style: none;
}

.bg-nav-line > li {
    display: inline-block;
    padding: 0 3px;
}

.bg-nav-line > li + li:before {
    padding-right: 4px;
    color: #999;
    content: "|";
}

.bg-tooltip .tooltip-inner { max-width: 500px; }

.bg-card-hr { margin: 1rem -1.25rem; }

.bg-td-xs { width: 80px; text-align: center !important; }
.bg-td-sm { width: 120px; }
.bg-td-md { width: 160px; }
.bg-td-lg { width: 220px; }
.bg-td-xl { width: 300px; }

.bg-spin {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%; /* IE 9 */
    -webkit-animation: bg-spin .8s infinite linear;
    -moz-animation: bg-spin .8s infinite linear;
    -o-animation: bg-spin .8s infinite linear;
    animation: bg-spin .8s infinite linear;
}
@-webkit-keyframes bg-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}
@keyframes bg-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-359deg);
        transform: rotate(-359deg);
    }
}

.bg-textarea-md { height: 200px !important; }
.bg-textarea-lg { height: 400px auto !important; }
