.sub_normal { background: #eee!important; }
.sub_normal:hover { background: #ddd!important; }

.page_foot { height: 40px; }
.foot_logo > a { display: block; width: 150px; height: 0px; padding-top: 40px; overflow: hidden; background: url(../image/admin_foot.png); }
.foot_power { padding: 10px 20px; }

.td_mn { width: 50px; white-space: nowrap; text-align: center; }
.td_sm { width: 110px; white-space: nowrap; }
.td_md { width: 150px; white-space: nowrap; }
.td_bg { width: 200px; white-space: nowrap; }
.td_lg { width: 250px; white-space: nowrap; }

.text_bg { height: 400px!important; }
.text_md { height: 200px!important; }

.static_label { color: #999; font-weight: normal; }
.static_input { font-size: 20px; }

.list_padding { margin: 0 25px; }

.list_menu {
  padding-left: 0;
  margin: 3px 0 0 -3px;
  list-style: none;
}

.list_menu > li {
  display: inline-block;
  padding: 0 3px;
}

.list_menu > li + li:before {
  padding-right: 4px;
  color: #999;
  content: "|";
}

label.control-label > span { color: #c30; margin-left: 10px; }

.radio_baigo,
.checkbox_baigo {
  display: block;
  min-height: 20px;
  margin-bottom: 5px;
  vertical-align: middle;
}

.radio_baigo input[type="radio"],
.checkbox_baigo input[type="checkbox"] {
  display: inline;
  font-weight: normal;
  cursor: pointer;
  margin-right: 5px;
}

.radio_baigo label,
.checkbox_baigo label {
  display: inline;
  font-weight: normal;
  cursor: pointer;
}
