.bg-navbar { background: #444; width: 100%; }
.bg-navbar .bg-navbar-btn { color: #ccc; display: inline-block; padding: 10px; text-decoration: none; }
.bg-navbar .bg-navbar-btn:hover { background: #555 !important; color: #fff; }

.bg-navbar .active .bg-navbar-btn { background: #555 !important; color: #fff; }

.bg-navbar-btn .icon-bar {
    background: #fff;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}
.bg-navbar-btn .icon-bar + .icon-bar {
    margin-top: 5px;
}

.bg-navbar-img { padding: 10px; }
.bg-navbar-dropdown { margin-top: 0; border-top-left-radius: 0; border-top-right-radius: 0; }

.bg-table-convert th, .bg-table-convert td { padding: 10px; }
