@import url(../../default/css/admin_logon.css);
.foot_logo > a { display: block; width: 110px; height: 0; margin: 0 auto; padding-top: 20px; overflow: hidden; background: url(../image/admin_foot.png) -20px -50px; }
