.menu_right { margin-top: 50px; }
.nowrap { white-space: nowrap; }
.img_border { border: #ddd 1px solid; }
.text_break { word-break: break-all; }
.indicator_black { color: #000; }
.indicator_black li { border:1px solid #000; }
.indicator_black li.active { background: #000; }

.nav_sso li a { color: #3c763d; }
.nav_sso li.active a { background: #3c763d; }
.nav_sso li.active a:hover { background: #3c763d; }
